body {
    margin: 0;
    padding: 0;
    background: linear-gradient(rgb(173, 237, 255), rgb(20, 137, 169));
}

.flexer {
    display: flex;
}

.board {
    background: linear-gradient(#528fbb, #528eaa);
    width: 450px;
    height: 96vh; /* 96% van de "view height" */
    margin: 2vh auto;
}

/* answer-container */
.answer-container {
    box-sizing: border-box;
    width: 100%;
    height: 10%;
    border: 1px solid black;
}

/* guess-container */
.guess-container {
    box-sizing: border-box;
    width: 100%;
    height: 80%;
    border: 1px solid black;
}

/* selection-container */
.selection-container {
    box-sizing: border-box;
    width: 100%;
    height: 10%;
    border: 1px solid black;
}

