body {
    margin: 0;
    padding: 0;
    background: linear-gradient(#adedff, #1489a9);
}

.flexer {
    display: flex;
}

.board {
    background: linear-gradient(#528fbb, #528eaa);
    width: 450px;
    height: 96vh; /* 96% van de "view height" */
    margin: 2vh auto;
}

/* answer-container */
.answer-container {
    box-sizing: border-box;
    width: 100%;
    height: 10%;
    border: 1px solid black;
}

.answer-container > button {
    border: none;
    width: 30%;
    position: relative;
    left: 70%;
    font-size: 25px;
    cursor: pointer;
    background: linear-gradient(#a91414, #ffadad);
}

.answer-container > button:hover {
    background: linear-gradient(#ffadad, #a91414);
}

/* guess-container */
.guess-container {
    box-sizing: border-box;
    width: 100%;
    height: 80%;
    border: 1px solid black;
}

/* selection-container */
.selection-container {
    box-sizing: border-box;
    width: 100%;
    height: 10%;
    border: 1px solid black;
}

